@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  max-height: 100vh;
}

body nav {
  width: 100%;
  height: 80px;
  background-color: #cecece;
}

body nav .navcontainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .navcontainer .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body nav .navcontainer .selection .desktop {
  height: 80px;
  width: 20px;
  background-color: lightgray;
}

body nav .navcontainer .selection .fa-folder-open {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
}

body nav .navcontainer .selection .menulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body nav .navcontainer .selection .menulist .fa-th-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  margin-right: 20px;
}

body nav .navcontainer .selection .menulist::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 70px;
  top: calc(50% - 35px);
  right: 0;
  background-color: white;
}

body nav .navcontainer .selection .navapp {
  width: 80px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
}

body nav .navcontainer .selection .navfiles {
  width: 80px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
}

body nav .navcontainer .selection .navoption {
  width: 80px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  padding: 0px;
}

body nav .navcontainer .selection .navoption .fa-cogs {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

body nav .navcontainer .selection .navmember {
  width: 80px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
}

body nav .navcontainer .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body nav .navcontainer .features a {
  text-decoration: none;
  padding: 0 10px;
}

body nav .navcontainer .features .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .navcontainer .features .message .fa-comment-dots {
  font-size: 60px;
}

body nav .navcontainer .features .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .navcontainer .features .information .fa-user {
  font-size: 60px;
}

body nav .navcontainer .features .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .navcontainer .features .searchbar .fa-search {
  font-size: 60px;
}

body nav .navcontent {
  position: absolute;
  top: 80px;
  right: 0px;
  padding-right: 10px;
  pointer-events: none;
}

body nav .navcontent .serachBarcontent {
  position: absolute;
  right: 10px;
  background-color: rgba(173, 216, 230, 0.5);
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

body nav .navcontent .serachBarcontent input {
  height: 20px;
  margin-left: 5px;
}

body nav .navcontent .serachBarcontent button {
  margin: 0 5px;
  height: 80%;
  width: 50px;
  padding: 0;
}

body nav .navcontent .serachBarcontent button img {
  height: 100%;
  width: 50px;
}

body nav .navcontent .loginarea {
  pointer-events: all;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0 20px 20px 20px;
  background-color: rgba(173, 216, 230, 0.5);
  position: absolute;
  right: 45px;
  text-align: center;
  color: white;
}

body nav .navcontent .loginarea h1 {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

body nav .navcontent .loginarea .loginsuccess .option {
  padding: 5px 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  border-bottom: 1px solid lightgray;
}

body nav .navcontent .loginarea .loginsuccess .option:hover {
  background-color: rgba(58, 193, 238, 0.5);
}

body nav .navcontent .loginarea .loginsuccess .logout {
  cursor: pointer;
  padding: 5px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

body nav .navcontent .loginarea .loginsuccess .logout:hover {
  background-color: rgba(58, 193, 238, 0.5);
}

body nav .navcontent .msgContainer {
  width: 350px;
  color: white;
  padding: 0 10px;
  background-color: gray;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body nav .navcontent .msgContainer::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

body nav .navcontent .msgContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body nav .navcontent .msgContainer::-webkit-scrollbar-thumb {
  background: #67c9d6;
}

body nav .navcontent .msgContainer::-webkit-scrollbar-thumb:hover {
  background: #15b8ce;
}

body nav .navcontent .msgContainer h2 {
  padding-top: 10px;
  margin: 0;
  text-align: center;
}

body nav .navcontent .msgContainer .msgContent .msgText {
  position: relative;
}

body nav .navcontent .msgContainer .msgContent .msgText img {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

body nav .navcontent .msgContainer .msgContent .msgText h4 {
  margin: 10px 0;
}

body nav .navcontent .msgContainer .msgContent .msgText .msgtextcontetnt {
  height: auto;
  overflow: hidden;
  max-height: 50em;
}

body nav .navcontent .msgContainer .msgContent .msgText .msgtextcontetnt .msgtextdetail p:nth-child(1) {
  margin: 0;
}

body nav .navcontent .msgContainer .msgContent .msgText .msgtextcontetnt .msgtextdetail p:nth-child(2) {
  margin-top: 5px;
  text-align: justify;
}

body nav .navcontent .msgContainer .msgContent .msgText .msgtextcontetnt.is-collapsed {
  max-height: 0;
}

body nav .navcontent .msgContainer .msgContent .msgText .no-js .msgtextcontetnt.is-collapsed {
  max-height: auto;
}

body .modal {
  visibility: hidden;
}

body .modal .modalmask {
  position: fixed;
  top: 80px;
  left: 0px;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0;
  padding: 0;
  background: gray;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

body .modal .modalmask .app {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 80px;
  margin: 30px;
}

body .modal .modalmask .app img {
  width: 80px;
}

body .modal .modalmask .app .fa-folder-open {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modal .modalmask .app span {
  text-align: center;
}

body .modal.active {
  visibility: visible;
}

body .appcontainer {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .appcontainer.active {
  background-color: red;
}

body .appcontainer .stealth {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-left: 2%;
}

body .appcontainer .stealth .app {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 80px;
  margin-bottom: 30px;
}

body .appcontainer .stealth .app .fa-folder-open {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .appcontainer .stealth .app img {
  width: 80px;
  height: 80px;
}

body .appcontainer .stealth .app span {
  text-align: center;
}

body .filescontainer {
  width: 800px;
  height: 600px;
  min-width: 800px;
  min-height: 600px;
  margin: auto;
  border: 5px solid rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
  display: none;
}

body .filescontainer .filesnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid black;
  background-color: skyblue;
}

body .filescontainer .filesnav .leftcontent .fa-folder-open {
  font-size: 20px;
}

body .filescontainer .filesnav .leftcontent img {
  height: 25px;
}

body .filescontainer .filescontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
}

body .filescontainer .filescontent .filesleft {
  width: 350px;
  border-right: 1px solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .filescontainer .filescontent .filesleft .search {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

body .filescontainer .filescontent .filesleft .search input {
  width: auto;
}

body .filescontainer .filescontent .filesleft .search button {
  height: 20px;
}

body .filescontainer .filescontent .filesleft .search button img {
  height: 15px;
}

body .filescontainer .filescontent .filesleft .tabarea {
  height: auto;
  width: 100%;
  border-right: 1px solid black;
}

body .filescontainer .filescontent .filesleft .tabarea img {
  height: 20px;
  margin-right: 10px;
}

body .filescontainer .filescontent .filesleft .tabarea .areatab {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

body .filescontainer .filescontent .filesleft .tabarea .tabareacontent {
  text-align: start;
  height: auto;
  overflow: hidden;
  max-height: 50em;
}

body .filescontainer .filescontent .filesleft .tabarea .tabareacontent .areacontent {
  margin: 5px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

body .filescontainer .filescontent .filesleft .tabarea .tabareacontent .areacontent:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  cursor: pointer;
}

body .filescontainer .filescontent .filesleft .tabarea .tabareacontent .areacontent::before {
  content: "－";
  padding-left: 20px;
}

body .filescontainer .filescontent .filesleft .tabarea .tabareacontent.is-collapsed {
  max-height: 0;
}

body .filescontainer .filescontent .filesleft .tabarea .no-js .tabareacontent.is-collapsed {
  max-height: auto;
}

body .filescontainer .filescontent .filesright {
  width: 100%;
  height: 100%;
}

body .filescontainer .filescontent .filesright .tablinks {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid black;
}

body .filescontainer .filescontent .filesright .tablinks .tablink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-width: 1px 1px 0px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
  height: 30px;
  background-color: white;
  color: black;
  cursor: pointer;
}

body .filescontainer .filescontent .filesright .tablinks .tablink.active {
  background-color: black;
  color: white;
}

body .filescontainer .filescontent .filesright .tabcontents {
  width: 100%;
  height: calc(100% - 100px);
}

body .filescontainer .filescontent .filesright .tabcontents .tabcontent {
  width: 100%;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  overflow: hidden;
  background-color: black;
  color: white;
}

body .filescontainer .filescontent .filesright .tabcontents .tabcontent.active {
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

body .emptyfiles {
  width: 800px;
  height: 600px;
  min-width: 800px;
  min-height: 600px;
  margin: auto;
  border: 5px solid rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
  display: none;
}

body .emptyfiles .filesnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid black;
  background-color: skyblue;
}

body .emptyfiles .filesnav .leftcontent .fa-folder-open {
  font-size: 20px;
}

body .optioncontainer {
  width: 800px;
  height: 600px;
  min-width: 800px;
  min-height: 600px;
  margin: 0 auto;
  border: 5px solid rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background-color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
}

body .optioncontainer .optionheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid black;
  background-color: skyblue;
}

body .optioncontainer .optionheader img {
  height: 30px;
}

body .optioncontainer .optioncontent {
  margin-top: 30px;
  margin-left: 30px;
}

body .optioncontainer .optioncontent input {
  font-size: 22px;
}

body .optioncontainer .optioncontent label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  font-size: 22px;
}

body .optioncontainer .optioncontent .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body .optioncontainer .optioncontent .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body .optioncontainer .optioncontent .Newpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body .optioncontainer .optioncontent .Cnewpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body .optioncontainer .btmbtn {
  padding-bottom: 10px;
}

body .optioncontainer .btmbtn .btns {
  padding-right: 10px;
  text-align: end;
}

body .optioncontainer .btmbtn .btns button {
  padding: 5px 10px;
}

body .memberlist {
  width: 800px;
  height: 600px;
  min-width: 800px;
  min-height: 600px;
  margin: 0 auto;
  border: 5px solid rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background-color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
}

body .memberlist .listnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid black;
  background-color: skyblue;
}

body .memberlist .listnav .leftcontent .fa-folder-open {
  font-size: 20px;
}

body .memberlist .listnav img {
  height: 30px;
}

body .memberlist .membercontainer .memberbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .memberlist .membercontainer .memberbtns button {
  width: 25%;
}

body .memberlist .membercontainer .membercontent .memberdetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

body .memberlist .membercontainer .membercontent .memberdetail .sorttd {
  width: 25%;
  text-align: center;
  border-right: 1px solid black;
}

body .memberlist .membercontainer .membercontent .memberdetail .sorttd:nth-child(1) {
  border-left: 1px solid black;
}
/*# sourceMappingURL=DesktopUI.css.map */