body {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    max-height: 100vh;

    nav {
        width: 100%;
        height: 80px;
        background-color: darken($color: #cecece, $amount: 0);

        .navcontainer {
            height: 100%;
            display: flex;
            justify-content: space-between;

            .selection {
                display: flex;
                height: 100%;

                .desktop {
                    height: 80px;
                    width: 20px;
                    background-color: lightgray;
                }

                .fa-folder-open {
                    height: 80px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 60px;
                }
                .menulist {
                    display: flex;
                    position: relative;
                    .fa-th-large{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 60px;
                        margin-right: 20px;
                    }
                }

                .menulist::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 70px;
                    top: calc(50% - 35px);
                    right: 0;
                    background-color: white;
                }

                .navapp {
                    width: 80px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.4);
                    ;
                    display: none;
                }

                .navfiles {
                    width: 80px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.4);
                    ;
                    display: none;
                }

                .navoption {
                    width: 80px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.4);
                    ;
                    display: none;
                    padding: 0px;
                    .fa-cogs {      
                        height: 80px;
                        width: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 50px;
                    }
                }

                .navmember {
                    width: 80px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.4);
                    ;
                    display: none;
                }
            }

            .features {
                display: flex;
                height: 100%;

                a {
                    text-decoration: none;
                    padding: 0 10px;
                }

                .message {
                    display: flex;
                    align-items: center;
                    .fa-comment-dots{
                        font-size: 60px;
                    }
                }

                .information {
                    display: flex;
                    align-items: center;
                    .fa-user{
                        font-size: 60px;
                    }
                }

                .searchbar {
                    display: flex;
                    align-items: center;
                    .fa-search{
                        font-size: 60px;
                    }
                }
            }
        }

        .navcontent {
            position: absolute;
            top: 80px;
            right: 0px;
            padding-right: 10px;
            pointer-events: none;

            .serachBarcontent {
                position: absolute;
                right: 10px;
                background-color: rgba(173, 216, 230, 0.5);
                height: 30px;
                display: flex;
                align-items: center;
                z-index: -1;
                transition: 1s;
                transform: translateY(-40%);

                input {
                    height: 20px;
                    margin-left: 5px;
                }

                button {
                    margin: 0 5px;
                    height: 80%;
                    width: 50px;
                    padding: 0;

                    img {
                        height: 100%;
                        width: 50px;
                    }
                }
            }

            .loginarea {
                pointer-events: all;
                display: none;
                transition: .5s;
                padding: 0 20px 20px 20px;
                background-color: rgba(173, 216, 230, 0.5);
                position: absolute;
                right: 45px;
                text-align: center;
                color: white;

                h1 {
                    transition-duration: 1s;
                    transition-timing-function: ease-in;
                }

                .loginsuccess {
                    .option {
                        padding: 5px 0;
                        text-decoration: none;
                        color: white;
                        cursor: pointer;
                        transition: .5s;
                        border-bottom: 1px solid lightgray;

                        &:hover {
                            background-color: rgba(58, 193, 238, 0.5);
                        }
                    }

                    .logout {
                        cursor: pointer;
                        padding: 5px 0;
                        transition: .5s;

                        &:hover {
                            background-color: rgba(58, 193, 238, 0.5);
                        }
                    }

                }
            }

            .msgContainer {
                width: 350px;
                color: white;
                padding: 0 10px;
                background-color: gray;
                max-height: calc(100vh - 80px);
                overflow-y: auto;

                opacity: 0;
                pointer-events: none;
                transition: .5s;

                &::-webkit-scrollbar {
                    width: 10px;
                    margin-left: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: rgb(103, 201, 214);
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: rgb(21, 184, 206);
                }

                h2 {
                    padding-top: 10px;
                    margin: 0;
                    text-align: center;
                }

                .msgContent {
                    .msgText {
                        position: relative;

                        img {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 20px;
                        }

                        h4 {
                            margin: 10px 0;
                        }

                        .msgtextcontetnt {
                            height: auto;
                            overflow: hidden;
                            max-height: 50em;

                            .msgtextdetail {
                                p:nth-child(1) {
                                    margin: 0;
                                }

                                p:nth-child(2) {
                                    margin-top: 5px;
                                    text-align: justify;
                                }
                            }
                        }

                        .msgtextcontetnt.is-collapsed {
                            max-height: 0;
                        }

                        .no-js .msgtextcontetnt.is-collapsed {
                            max-height: auto;
                        }

                    }
                }
            }
        }
    }

    .modal {
        visibility: hidden;

        .modalmask {
            position: fixed;
            top: 80px;
            left: 0px;
            height: calc(100vh - 80px);
            width: 100%;
            margin: 0;
            padding: 0;
            background: gray;
            opacity: 0.85;
            filter: alpha(opacity=85);
            -moz-opacity: 0.85;
            display: flex;
            justify-content: center;
            z-index: 5;

            .app {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                height: 80px;
                margin: 30px;

                img {
                    width: 80px;
                }
                
                .fa-folder-open{
                    font-size: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span {
                    text-align: center;
                }
            }
        }

        &.active {
            visibility: visible;
        }
    }

    .appcontainer {
        height: calc(100vh - 80px);
        width: 100%;
        background-color: darken($color: #ffffff, $amount: 0);
        box-sizing: border-box;

        &.active {
            background-color: red;
        }

        .stealth {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding-top: 10px;
            padding-left: 2%;

            .app {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                height: 80px;
                margin-bottom: 30px;
                .fa-folder-open{
                    font-size: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img {
                    width: 80px;
                    height: 80px;
                }

                span {
                    text-align: center;
                }
            }
        }
    }

    .filescontainer {
        width: 800px;
        height: 600px;
        min-width: 800px;
        min-height: 600px;
        margin: auto;
        border: 5px solid rgba(128, 127, 127, 0.3);
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 400px);
        display: none;

        .filesnav {
            display: flex;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 0.5px solid black;
            background-color: skyblue;

            .leftcontent {
                .fa-folder-open{
                    font-size: 20px;
                }
                img {
                    height: 25px;
                }
            }
        }

        .filescontent {
            display: flex;
            width: 100%;
            height: calc(100% - 40px);

            .filesleft {
                width: 350px;
                border-right: 1px solid gray;
                overflow-y: scroll;
                overflow-x: hidden;

                .search {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;

                    input {
                        width: auto;
                    }

                    button {
                        height: 20px;

                        img {
                            height: 15px;
                        }
                    }
                }

                .tabarea {
                    height: auto;
                    width: 100%;
                    border-right: 1px solid black;

                    img {
                        height: 20px;
                        margin-right: 10px;
                    }

                    .areatab {
                        height: 30px;
                        display: flex;
                        padding-left: 10px;
                        align-items: center;
                        border-bottom: 1px solid black;
                        text-decoration: none;
                        transition: .5s;
                    }

                    .tabareacontent {
                        text-align: start;
                        height: auto;
                        overflow: hidden;
                        max-height: 50em;

                        .areacontent {
                            margin: 5px 0;
                            transition: .5s;
                        }

                        .areacontent:hover {
                            transform: translateX(10px);
                            cursor: pointer;
                        }

                        .areacontent::before {
                            content: "－";
                            padding-left: 20px;
                        }
                    }

                    .tabareacontent.is-collapsed {
                        max-height: 0;
                    }

                    .no-js .tabareacontent.is-collapsed {
                        max-height: auto;
                    }
                }
            }

            .filesright {
                width: 100%;
                height: 100%;

                .tablinks {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    align-items: flex-end;
                    border-bottom: 1px solid black;

                    .tablink {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        border-width: 1px 1px 0px 1px;
                        border-color: black;
                        border-style: solid;
                        border-radius: 10px 10px 0 0;
                        margin: 0 10px;
                        height: 30px;
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }

                    .tablink.active {
                        background-color: black;
                        color: white;
                    }
                }

                .tabcontents {
                    width: 100%;
                    height: calc(100% - 100px);

                    .tabcontent {
                        width: 100%;
                        height: 0px;
                        opacity: 0;
                        pointer-events: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s opacity;
                        overflow: hidden;
                        background-color: black;
                        color: white;
                    }

                    .tabcontent.active {
                        height: 100%;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    .emptyfiles {
        width: 800px;
        height: 600px;
        min-width: 800px;
        min-height: 600px;
        margin: auto;
        border: 5px solid rgba(128, 127, 127, 0.3);
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 400px);
        display: none;

        .filesnav {
            display: flex;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 0.5px solid black;
            background-color: skyblue;

            .leftcontent {
                .fa-folder-open{
                    font-size:20px
                }
            }
        }
    }

    .optioncontainer {
        width: 800px;
        height: 600px;
        min-width: 800px;
        min-height: 600px;
        margin: 0 auto;
        border: 5px solid rgba(128, 127, 127, 0.3);
        border-radius: 10px;
        background-color: white;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 400px);

        .optionheader {
            display: flex;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 0.5px solid black;
            background-color: skyblue;

            img {
                height: 30px;
            }
        }

        .optioncontent {
            margin-top: 30px;
            margin-left: 30px;

            input {
                font-size: 22px;
            }

            label {
                display: flex;
                align-items: center;
                width: 200px;
                font-size: 22px;
            }

            .name {
                display: flex;
                padding: 10px;
            }

            .password {
                display: flex;
                padding: 10px;
            }

            .Newpassword {
                display: flex;
                padding: 10px;
            }

            .Cnewpassword {
                display: flex;
                padding: 10px;
            }
        }

        .btmbtn {
            padding-bottom: 10px;

            .btns {
                padding-right: 10px;
                text-align: end;

                button {
                    padding: 5px 10px;
                }
            }
        }
    }

    .memberlist {
        width: 800px;
        height: 600px;
        min-width: 800px;
        min-height: 600px;
        margin: 0 auto;
        border: 5px solid rgba(128, 127, 127, 0.3);
        border-radius: 10px;
        background-color: white;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 400px);

        .listnav {
            display: flex;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 0.5px solid black;
            background-color: skyblue;
            .leftcontent{
                .fa-folder-open{
                    font-size:20px
                }
            }
            img {
                height: 30px;
            }
        }

        .membercontainer {
            .memberbtns {
                display: flex;

                button {
                    width: 25%;
                }
            }

            .membercontent {
                .memberdetail {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid black;

                    .sorttd {
                        width: 25%;
                        text-align: center;
                        border-right: 1px solid black;
                    }

                    .sorttd:nth-child(1) {
                        border-left: 1px solid black;
                    }
                }
            }
        }
    }
}