body{
    margin:0px;
}
*{
    box-sizing: border-box;
}
/* NAV部分 */
nav{
    width:100%;
    height:48px;
    background-color:black;
    margin: 0px;
    padding: 0px;
}
.container{
    width:1536px;
    /* height: 100%; */
    background-color: black;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    -webkit-box-pack: start;
    padding: 0px;
}
.logo{
    width: 190px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
    -webkit-box-pack: start;
}
.logopic{
    width: 16px;
    height: 16px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg');
    background-size: cover;
    transition: 1S;
}
.logopic:hover{
    width: 16px;
    height: 16px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKIpyXqPok6Qz614jBaLBl020GVOOxwSt2haAZ-KKTv6nThMU');
    background-size: cover;
}
.h1block{
    height: 48px;
    width: auto;
    align-content: center;
    flex: 0 0 auto;
}
h1{
    color:white;
    font-size: 16px;
    font-weight: 600;
    line-height: 49px;
    margin: 0px;
    padding: 0px;
}
.links{
    padding: 0px 120px 0px 420px;
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.burgers{
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 48px;
    width: 48px;
    z-index: 100;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
span{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 200ms linear 0ms;
}
.topbar{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);
}
.midbar{
    top: 24px;
    left: 12px;
    opacity: 1;
}
.btmbar{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}
.menu{
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 48px;
    left: 0px;
    height: calc(100vh - 48px);
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transform: translateY(0px);
    transition: all 300ms ease 300ms;
}
.menu.active{    
    opacity: 1;
    pointer-events: all;
    }
.menu ul{
    display: flex;
    flex-direction: column;
}
.menu ul li a{
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    text-decoration: none;
    padding: 25px 30px;
}

@media screen and (max-width:1680px) {
    .container{
        width:1336px;
    }
}
@media screen and (max-width:1460px) {
    .container{
        width:1136px;
    }
    .links{
        padding: 0px 60px 0px 120px;
    }
}
@media screen and (max-width:1280px) {
    .container{
        width:960px;
    }
}
@media screen and (max-width:1024px) {
    .logo{
        width:60px;
    }
    .links{
        padding: 0px 0px 0px 120px;
    }
    .container{
        width:100%;
        padding:0px 30px;
    }
}
@media screen and (max-width:767px){
    .links{
        display: none;
    }
    .burgers{
        display: flex;;
    }

} 
/* NAV部分 */

/* main */
main{
    margin: 48px 0px 0px 0px;
    width:100%;
}
.content1{
    margin:145px 0px 60px 0px;
}
