body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
}

/* NAV部分 */
nav{
    width: 100%;
    height: 48px;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1536px;
    height: 48px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0px;
}
.logo{
    width: 190px;
    height: 48px;
    display: flex;
    align-items: center;
}
.logopic{
    width: 16px;
    height: 16px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg');
    background-size: cover;
    transition: 1S;
}
.logopic:hover{
    width: 16px;
    height: 16px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKIpyXqPok6Qz614jBaLBl020GVOOxwSt2haAZ-KKTv6nThMU');
    background-size: cover;
}
.container h1{
    display: flex;
    align-items: center;
}
.title{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.title:hover{
    color:rgb(27, 108, 184);
}
.links{
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 120px 0px 420px;
}
ul{
    display: flex;
    color:white;
    justify-content: space-between;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    transition: color 200ms linear 0ms;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#link1_1:hover{
    color:rgb(36, 118, 196)
}
#link2_1:hover{
    color:rgb(52, 192, 202)
}
#link3_1:hover{
    color:rgb(230, 122, 230)
}
#link4_1:hover{
    color:rgb(60, 207, 139)
}
.burgers{
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 48px;
    width: 48px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.burgers span{
    position: absolute;
    transition: all 200ms linear 0ms;
}
.topbar{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);
}
.midbar{
    top: 24px;
    left: 12px;
    opacity: 1;
}
.btmbar{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}
.menu{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 48px;
    left: 0px;
    height: calc(100vh - 48px);
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transform: translateY(0px);
    transition: all 300ms ease 300ms;
}
.menu ul{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.menu ul li a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: 25px 30px;
    position: relative;
}
/* NAV部分 */

/* Main部分 */
/* 第一部分 */
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container1{
    width: 100%;
    margin: 145px 0px 60px;
}
.content1{
    width: 1536px;
    display: flex;
    margin: 0px auto;
}
.content1left{
    width: 410px;
    flex: 0 0 auto;
}
.content1toptitle{
    font-size: 64px;
    line-height: 80px;
    color: rgb(79, 229, 255);
    font-weight: 600;
    margin: 0px 0px 0px -6px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content1btm{
    width: 100%;
    margin: 100px 0px 30px;
}
.contentbtmContent{
    width: 100%;
    max-width: 352px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px 0px 24px;
}
.content1right{
    text-align: center;
    position: relative;
    flex: 1 1 auto;
}
.content1rightimgR{
    position: absolute;
    top: -15px;
    right: 180px;
    pointer-events: none;
}
.content1rightimgL{
    position: absolute;
    bottom: 155px;
    left: 180px;
    pointer-events: none;
}
/* 第一部分 */
/* 第二部分 */

.container2{
    width: 100%;
    position: relative;
    background-color: chocolate;
}
.container2::before{
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgb(34, 128, 200);
}
.container2::after{
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgb(95, 207, 99);
}
.colorbox{
    display: flex;
    flex-wrap: wrap;
    width: 1536px;
    margin: 0px auto;
}
.colorboxcontent{
    width: 100%;
    display: flex;
    position: relative;
}
.colorboxcontent1{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent1link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(37, 142, 222);
}
.colorboxcontent1link:hover{
    background-color: rgb(12, 117, 197);
}
.colorboxcontent1linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px
}
.colorboxcontent1linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h3{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent1linkmid p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent1linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent1linkbtmpic{
    margin: 0px 16px 0px 0px;
}
.colorboxcontent1linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
.colorboxcontent2{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent2link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(79, 229, 255);
}
.colorboxcontent2link:hover{
    background-color: rgb(54, 204, 230);
}
.colorboxcontent2linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px;
}
.colorboxcontent2linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent2linkmid p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent2linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent2linkbtmpic{
    margin: 0px 16px 0px 0px;
}
.colorboxcontent2linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
.colorboxcontent3{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent3link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color:rgb(207, 143, 255);
}
.colorboxcontent3link:hover{
    background-color: rgb(182, 118, 230);
}
.colorboxcontent3linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px;
}
.colorboxcontent3linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h5{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent3linkmid P{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent3linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent3linkbtmpic{
    margin: 0px 16px 0px 0px;
}
.colorboxcontent3linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
.colorboxcontent4{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent4link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(105, 229, 110);
}
.colorboxcontent4link:hover{
    background-color: rgb(80, 204, 85);
}
.colorboxcontent4linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px;
}
.colorboxcontent4linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h6{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent4linkmid P{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent4linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent4linkbtmpic{
    margin: 0px 16px 0px 0px;
}
.colorboxcontent4linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
/* 第二部分*/

/* 第三部分 */
.container3{
    width: 100%;
    min-height: 768px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg) 50% center / cover no-repeat fixed rgb(204, 204, 204);
}
.content3{
    width: 1536px;
    margin: 0px auto;
}
.content3top{
    width: 100%;
    /* opacity: 0; */
    transform: translateY(20px);
    padding: 10px 20px 0px;
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content3top.active{
    opacity: 1;
    transform: translateY(0px);
}
.content3toptext{
    color: rgb(0, 0, 0);
    font-size: 128px;
    line-height: 150px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content3btm{
    width: 100%;
    /* opacity: 0; */
    transform: translateY(20px);
    margin: 60px 0px 0px;
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content3btm.active{
    opacity: 1;
    transform: translateY(0px);
}
.content3btm_1{
    width: 100%;
    max-width: 384px;
    padding: 0px 16px 0px 24px;
}
.content3btm_1 p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
/* 第三部分 */

/* 第四部份 */

.container4{
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.content4{
    position: relative;
    width: 1536px;
    margin: 0px auto;
}
.content4R{
    position: absolute;
    top: -200px;
    right: 130px;
    pointer-events: none;
    z-index: 4;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content4R.active{
    opacity: 1;
    transform: translateY(0px);
}
.content4L{
    position: absolute;
    top: 570px;
    left: 190px;
    pointer-events: none;
    transform: translateY(400px);
    transition: transform 600ms linear 0ms;
}
.content4L.active{
    transform: translateY(0px);
}
.content4Mid{
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* opacity: 0; */
    transform: scale(0.8);
    padding: 100px 100px 50px;
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content4Mid.active{
    opacity: 1;
    transform: scale(1);
}

/* 第四部份 */

/* 第五部分 */

.container5{
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.content5{
    position: relative;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 1536px;
    margin: 0px auto;
}
.content5_1{
    width: 384px;
    margin: 0px 0px 50px;
    padding: 0px 16px;
}
.content5_1text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;   
}
/* 第五部分 */

/* 第六部分 */

.container6{
    width: 100%;
    position: relative;
    background-color: rgb(25, 25, 25);
}
.content6_1{
    position: absolute;
    bottom: 80px;
    left: 0px;
    width: 100%;
    z-index: 4;
}
.content6_1text{
    width: 1536px;
    margin: 0px auto;
}
.content6_1text h1{
    color: rgb(25, 25, 25);
    font-size: 128px;
    line-height: 144px;
    font-weight: 600;
    margin: 0px 0px 0px 26px;
}
.content6_2{
    width: 100%;
    transform: translateY(200px) scale(1.2);
    /* opacity: 0; */
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    object-fit: contain;
    overflow: hidden;
}
.content6_2.style{
    opacity: 0.929512;
    transform: translate3d(0px, 7.04883px, 0px) scale(1.0141, 1.0141);
}
.content6_2 img{
    width: 100%;
    min-width: 2000px;
    position: relative;
    align-self: center;
}
/* 第六部分 */

/* 第七部分 */

.container7{
    position: relative;
    top: 0px;
    z-index: 2;
    width: 100%;
    min-height: 948px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/clouds.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
}
.content7{
    position: relative;
    display: flex;
    height: 100%;
    width: 1536px;
    margin: 0px auto;
}
.content7_1{
    position: absolute;
    top: -240px;
    right: -260px;
    width: 768px;
}
.content7_1pic1{
    position: absolute;
    top: -120px;
    left: 2px;
    z-index: 2;
    opacity: 1;
    transform: translateY(122px);
}
.content7_1pic1.style{
    transform: translate3d(0px, -30px, 0px);
}
.content7_1pic2{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.content7_2text{
    position: absolute;
    top: -100px;
    left: 0px;
    font-size: 395px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.content7_2text.style{
    opacity: 0.999647;
    transform: translate3d(0px, 0.0706003px, 0px);
}
.content7_3text {
    position: absolute;
    top: 140px;
    right: -30px;
    font-size: 395px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.content7_3text.style{
    opacity: 0.996147;
    transform: translate3d(0px, 0.770508px, 0px);
}
.content7_4{
    position: absolute;
    top: 550px;
    left: 370px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(20px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content7_4.active{
    opacity: 1;
    transform: translateY(0px);
}
/* 第七部分 */

/* 第八部分 */

.container8{
    width: 100%;
    background-color: rgb(204, 204, 204);
    min-height: 820px;
    position: relative;
}
.content8_1{
    width: 1536px;
    position: relative;
    margin: 0px auto;
}
.content8_1titile{
    width: 100%;
    padding: 140px 40px 0px 8px;
}
.content8_1titile h2{
    color: rgb(0, 0, 0);
    font-size: 128px;
    line-height: 150px;
    font-weight: 600;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
}
.content8_1box{
    width: 100%;
    margin: 60px 0px 0px;
}
.content8_1text{
    width: 100%;
    max-width: 384px;
    padding: 0px 16px;
}
.content8_1text p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content8_2{
    position: absolute;
    top: 200px;
    right: 0px;
}
.content8_2 img{
    max-width: 1000px;
}
/* 第八部分 */

/* 第九部分 */

.container9{
    width: 100%;
    min-height: 768px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
}
.content9{
    position: relative;
    z-index: 2;
    width: 1536px;
    margin: 0px auto;
}
.content9pic1{
    position: absolute;
    top: -95px;
    left: 340px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(60px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content9pic1.active{
    opacity: 1;
    transform: translateY(0px);
}
.content9pic2{
    position: absolute;
    top: 185px;
    left: 165px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(20px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content9pic2.active{
    opacity: 1;
    transform: translateY(0px);
}
.content9pic3{
    position: absolute;
    top: -125px;
    left: 620px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(100px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content9pic3.active{
    opacity: 1;
    transform: translateY(0px);
}
.content9pic4{
    position: absolute;
    top: 530px;
    right: 85px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(40px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content9pic4.active{
    opacity: 1;
    transform: translateY(0px);
}
.content9pic5{
    position: absolute;
    top: 370px;
    right: 220px;
    pointer-events: none;
    /* opacity: 0; */
    transform: translateY(100px);
    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
}
.content9pic5.active{
    opacity: 1;
    transform: translateY(-100px);
}
/* 第九部分 */

/* 第十部分 */

.container10{
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0px 0px 160px;
}
.content10{
    position: relative;
    z-index: 2;
    width: 1536px;
    margin: 0px auto;
}
.content10box{
    width: 100%;
    display: flex;
    position: relative;
}
.content10box1{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(0, 0, 0);
}
.content10box1link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: background-color 200ms linear 0ms;
}
.content10box1link:hover{
    background-color: rgb(255, 255, 255);
}
.content10box1link1{
    width: 100%;
    padding: 16px;
    flex: 1 1 auto;
    margin: 2px 0px 0px;
}
.content10box1link1 p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: color 200ms linear 0ms;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content10box1 a:hover p {
    color: rgb(0, 0, 0);
}
.content10box1link2{
    width: 100%;
    display: flex;
    padding: 16px;
    flex: 0 0 auto;
}
.content10box1link2L{
    width: 24px;
    flex: 0 0 auto;
    margin: 0px 16px 0px 0px;
}
.content10box1link2L svg{
    max-width: 20px;
    height: auto;
}
.content10box1link2L svg path{
    transition: fill 200ms linear 0ms;
    fill: rgb(255, 255, 255);
}
.content10box1 a:hover svg path{
    fill: rgb(0, 0, 0);
}
.content10box1link2R{
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
}
.content10box1link2R label{
    color: rgb(255, 255, 255);
    transition: color 200ms linear 0ms;
}
.content10box1 a:hover label {
    color: rgb(0, 0, 0);
}
.content10box2{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(57, 57, 57);
}
.content10box2link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: background-color 200ms linear 0ms;
}
.content10box2link:hover{
    background-color: rgb(255, 255, 255);
}
.content10box2link1{
    width: 100%;
    padding: 16px;
    flex: 1 1 auto;
    margin: 2px 0px 0px;
}
.content10box2link1 p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: color 200ms linear 0ms;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content10box2 a:hover p{
    color: rgb(0, 0, 0);
}
.content10box2link2{
    width: 100%;
    display: flex;
    padding: 16px;
    flex: 0 0 auto;
}
.content10box2link2L{
    width: 24px;
    flex: 0 0 auto;
    margin: 0px 16px 0px 0px;
}
.content10box2link2 svg{
    max-width: 20px;
    height: auto;
}
.content10box2link2 svg path{
    fill: rgb(255, 255, 255);
    transition: fill 200ms linear 0ms;
}
.content10box2 a:hover svg path{
    fill: rgb(0, 0, 0);
}
.content10box2link2R{
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
}
.content10box2link2 label{
    color: rgb(255, 255, 255);
    transition: color 200ms linear 0ms;
}
.content10box2 a:hover label{
    color: rgb(0, 0, 0);
}
.content10box3{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(118, 118, 118);
}
.content10box3link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: background-color 200ms linear 0ms;
}
.content10box3link:hover{
    background-color: rgb(255, 255, 255);
}
.content10box3link1{
    width: 100%;
    padding: 16px;
    flex: 1 1 auto;
    margin: 2px 0px 0px;
}
.content10box3link p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: color 200ms linear 0ms;
}
.content10box3 a:hover p{
    color: rgb(0, 0, 0);
}
.content10box3link2{
    width: 100%;
    display: flex;
    padding: 16px;
    flex: 0 0 auto;
}
.content10box3link2L{
    width: 24px;
    flex: 0 0 auto;
    margin: 0px 16px 0px 0px;
}
.content10box3 svg{
    max-width: 20px;
    height: auto;
}
.content10box3 svg path{
    transition: fill 200ms linear 0ms;
}
.content10box3 a:hover path{
    fill: rgb(0, 0, 0);
}
.content10box3link2R{
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
}
.content10box3 label{
    transition: color 200ms linear 0ms;
    color: rgb(0, 0, 0);
}
.content10box3 a:hover label{
    color: rgb(0, 0, 0);
}
.content10box4{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
    background-color: rgb(204, 204, 204);
}
.content10box4link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: background-color 200ms linear 0ms;
}
.content10box4link:hover{
    background-color: rgb(255, 255, 255);
}
.content10box4link1{
    width: 100%;
    padding: 16px;
    flex: 1 1 auto;
    margin: 2px 0px 0px;
}
.content10box4link1 p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.content10box4 a:hover p{
    color: rgb(0, 0, 0);
}
.content10box4link2{
    width: 100%;
    display: flex;
    padding: 16px;
    flex: 0 0 auto;
}
.content10box4link2L{
    width: 24px;
    flex: 0 0 auto;
    margin: 0px 16px 0px 0px;
}
.content10box4link2L svg{
    max-width: 20px;
    height: auto;
}
.content10box4link2L svg path{
    transition: fill 200ms linear 0ms;
}
.content10box4 a:hover path{
    fill: rgb(0, 0, 0);
}
.content10box4link2R{
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
}
.content10box4link2R label{
    color: rgb(0, 0, 0);
    transition: color 200ms linear 0ms;
}
.content10box4 a:hover label{
    color: rgb(0, 0, 0);
}
/* 第十部分 */

/* 第十一部份 */
.contaniner11{
    width: 100%;
}
.content11{
    width: 1536px;
    margin: 0px auto;
}
.content11box{
    width: 100%;
}
.content11boxc{
    width: 100%;
    display: flex;
    padding: 0px 0px 200px;
}
.content11boxc1{
    width: 575px;
    flex: 0 0 auto;
}
.content11boxc1 h2{
    font-size: 32px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0px 0px 0px 16px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.content11boxc2{
    flex: 1 1 auto;
    padding: 0px 330px 35px 208px;
}
.content11boxc2top{
    width: 100%;
}
.content11boxc2top p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}
.content11boxc2btm{
    width: 100%;
    margin: 70px 0px 0px;
}
.container11 a{
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.container11 a:hover{
    opacity: 0.6;
}
.content11boxc2btm img{
    margin: 0px 16px 0px 0px;
}
.content11boxc2btm span{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    line-height: 1;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

/* 第十一部份 */
/* Main部分 */
/* footer */

.btmdiv{
    width: 100%;
    height: 48px;
}
.btmcontent{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1536px;
    margin: 0px auto;
}
.btmcontent1{
    width: 190px;
    height: 48px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}
.btmcontent1 img{
    width:16px;
    height:16px;
}
.btmcontent2{
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 100px 0px 0px;
}
.btmcontent2 ul{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.btmcontent2 ul li{
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 48px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.btmcontent2 ul li a{
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}
.btmcontent3{
    display: flex;
    height: 48px;
}
.btmcontent3 a{
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.btmcontent3 a img{
    max-width: 48px;
    max-height: 48px;
}
/* footer */

@media screen and (max-width:1940px) {
    .content8_2 img{
        max-width: 900px;
    }
}
@media screen and (max-width:1680px) {
    .container{
        width:1336px;
    }
    .content1{
        width: 1336px;
    }
    .content1rightimgR{
        top: -40px;
        right: 36px;
    }
    .content1rightimgL{
        bottom: 160px;
        left: 30px;
    }
    .colorbox{
        width:1336px;
    }
    .content3{
        width: 1336px;
    }
    .content4{
        width: 1336px;
    }
    .content4R{
        right: 30px;  
    }
    .content5{
        width: 1336px;
    }
    .content6_1text{
        width: 1336px;
    }
    .content6_1text h1{
        font-size: 96px;
        line-height: 128px;
    }
    .content7{
        width: 1336px;
    }
    .content7_2text{
        top: -40px;
        font-size: 295px;
    }
    .content7_3text{
        top: 120px;
        right: -30px;
        font-size: 295px;
    }
    .content8_1{
        width: 1336px;
    }
    .content8_2 img{
        max-width: 50vw;
    }
    .content9{
        width: 1336px;
    }
    .content10{
        width: 1336px;
    }
    .content11{
        width: 1336px;
    }
    .content11boxc1{
        width: 50%;
    }
    .content11boxc2{
        width: 50%;
        padding: 0px 16px 35px;
    }
    .btmcontent{
        width: 1336px;
    }
}
@media screen and (max-width:1460px) {
    .container{
        width:1136px;
    }
    .links{
        padding: 0px 60px 0px 120px;
    }
    .content1{
        width: 1136px;
    }
    .contentbtmContent{
        max-width: 384px;
    }
    .content1rightimgR{
        top: 15px;
        right: 36px;
    }
    .content1rightimgL{
        bottom: 120px;
        left: 30px;
    }
    .colorbox{
        width:1136px;
    }
    .colorboxcontent1linkmid{
        height: 180px;
    }
    .colorboxcontent2linkmid{
        height: 180px;
    }
    .colorboxcontent3linkmid{
        height: 180px;
    }
    .colorboxcontent4linkmid{
        height: 180px;
    }
    .content3{
        width: 1136px;
    }
    .content3top{
        padding: 10px 0px 0px 16px;
    }
    .content3toptext{
        font-size: 96px;
        line-height: 120px;
    }
    .content3btm{
        margin: 40px 0px 0px;
    }
    .content4{
        width: 1136px;
    }
    .content4R{
        top: -200px;
    }
    .content5{
        width: 1136px;
    }
    .content6_1text{
        width: 1136px;
    }
    .content7{
        width: 1136px;
    }
    .content7_1{
        display: none;
    }
    .content7_2text{
        top: -20px;
        left: 0px;
    }
    .content7_3text{
        top: 180px;
        right: -30px;
    }
    .content7_4{
        top: 550px;
        left: 370px;
    }
    .content8_1{
        width: 1136px;
    }
    .content8_1titile{
        padding: 60px 40px 0px 8px;
    }
    .content9{
        width: 1136px;
    }
    .content9pic1{
        top: -75px;
        left: 50%;
        margin: 0px 0px 0px -215px;
    }
    .content9pic2{
        top: 40vh;
        left: 65px;
    }
    .content9pic3{
        top: 80px;
        left: auto;
        right: 60px;
    }
    .content9pic5{
        top: 470px;
        right: 220px;
    }
    .container10{
        position: relative;
        z-index: 1;
    }
    .content10{
        width: 1136px;
    }
    .content11{
        width: 1136px;
    }
    .btmcontent{
        width: 1136px;
    }
}
@media screen and (max-width:1280px) {
    .container{
        width:960px;
    }
    .content1{
        width: 960px;
    }
    .content1left{
        width: 50%;
    }
    .content1right{
        width: 50%;
        padding: 0px 40px;
    }
    .content1rightimgR{
        display: none;
    }
    .content1right img{
        max-width: 100%;
    }
    .content1rightimgL{
        display: none;
    }
    .colorbox{
        width:960px;
    }
    .colorboxcontent1linkbtm{
        padding: 0px 30px;
    }
    .colorboxcontent1linkbtmtext{
        font-size: 14px;
    }
    .colorboxcontent2linkbtm{
        padding: 0px 30px;  
    }
    .colorboxcontent2linkbtmtext{
        font-size: 14px;
    }
    .colorboxcontent3linkbtm{
        padding: 0px 30px;  
    }
    .colorboxcontent3linkbtmtext{
        font-size: 14px;
    }
    .colorboxcontent4linkbtm{
        padding: 0px 30px;  
    }
    .colorboxcontent4linkbtmtext{
        font-size: 14px;
    }
    .container3{
        min-height: 668px;
    }
    .content3{
        width: 960px;
    }
    .content3top{
        padding: 20px 0px 60px;
    }
    .content3btm{
        margin: 0px;
    }
    .content3btm_1{
        margin: 0px;
        padding: 0px 5px;
    }   
    .content4{
        width: 960px;
    } 
    .content5{
        width: 960px;
    }
    .content6_1text{
        width: 960px;
    }
    .content6_1text h1{
        line-height: 104px;
    }
    .container7{
        min-height: 668px;
    }
    .content7{
        width: 960px;
    }
    .content7_2text{
        font-size: 228px;
        top: 40px;
        left: 14px;
    }
    .content7_3text{
        font-size: 228px;
        top: 220px;
        right: 10px;
    }
    .content7_4{
        display: none;
    }
    .container8{
        min-height: 668px;
    }
    .content8_1{
        width: 960px;
    }
    .content8_1titile{
        padding: 29px 0px 0px;
    }
    .content8_1titile h2{
        font-size: 96px;
        line-height: 104px;
    }
    .container9{
        min-height: 668px;
    }
    .content9{
        width: 960px;
    }
    .content10{
        width: 960px;
    }
    .content10box1link1 p{
        font-size: 28px;
    }
    .content10box2link1 p{
        font-size: 28px;
    }
    .content10box3link1 p{
        font-size: 28px;
    }
    .content10box4link1 p{
        font-size: 28px;
    }
    .content11{
        width: 960px;
    }
    .btmcontent{
        width: 960px;
    }
    .btmcontent1{
        width: 40px;
    }
}

@media screen and (max-width:1024px) {
    .logo{
        width:60px;
    }
    .links{
        padding: 0px 0px 0px 120px;
    }
    .container{
        width:100%;
        padding:0px 30px;
    }
    .content1{
        width: 100%;
        padding: 30px;
    }
    .colorbox{
        width: 100%;
        padding: 0px;
    }
    .colorboxcontent{
        flex-wrap: wrap;
    }
    .colorboxcontent1{
        width: 50%;
        height: 320px;
    }
    .colorboxcontent1linktop{
        padding: 30px 30px 16px;
    }
    .colorboxcontent1linkmid{
        height: auto;
        padding: 0px 30px;
    }
    .colorboxcontent2{
        width: 50%;
        height: 320px;
    }
    .colorboxcontent2linktop{
        padding: 30px 30px 16px;
    }
    .colorboxcontent2linkmid{
        height: auto;
        padding: 0px 30px;
    }
    .colorboxcontent3{
        width: 50%;
        height: 320px;
    }
    .colorboxcontent3linktop{
        padding: 30px 30px 16px;
    }
    .colorboxcontent3linkmid{
        height: auto;
        padding: 0px 30px;
    }
    .colorboxcontent4{
        width: 50%;
        height: 320px;
    }
    .colorboxcontent4linktop{
        padding: 30px 30px 16px;
    }
    .colorboxcontent4linkmid{
        height: auto;
        padding: 0px 30px;
    }
    .content3{
        width: 100%;
        padding: 0px 30px;
    }
    .content3top{
        padding: 29px 0px 40px;
    }
    .content3toptext{
        font-size: 86px;
        line-height: 90px;
        margin: 0px;
    }
    .content3btm_1{
        padding: 0px 0px 0px 4px;
    } 
    .content4{
        width: 100%;
        padding: 0px 30px;
    }
    .content5{
        width: 100%;
        padding: 0px 30px;
    }
    .content6_1{
        bottom: 60px;
    }
    .content6_1text{
        width: 100%;
        padding: 0px 30px;
    }
    .content6_1text h1{
        font-size: 86px;
        line-height: 90px;
        margin: 0px;
    }
    .content7{
        width: 100%;
        padding: 0px 30px;
    }
    .content8_1{
        width: 100%;
        padding: 0px 30px;
    }
    .content8_1titile h2{
        font-size: 86px;
        line-height: 90px;
        margin: 0px;
    }
    .content8_1text{
        padding: 0px 0px 0px 4px;
    }
    .content8_2{
        right: -20vw;
    }
    .content8_1text{
        padding: 0px 0px 0px 4px;
    }
    .content8_2{
        right: -20vw;
    }
    .content8_2 img{
        max-width: 70vw;
    }
    .content9{
        width: 100%;
        padding: 0px 30px;
    }
    .container10{
        margin: 0px 0px 60px;
    }
    .content10{
        width: 100%;
    }
    .content10box{
        flex-wrap: wrap;
    }
    .content10box1{
        width: 50%;
    }
    .content10box1link1{
        padding: 19px 28px;
    }
    .content10box1link2{
        padding: 0px 30px 30px;
    }
    .content10box2{
        width: 50%;
    }
    .content10box2link1{
        padding: 19px 28px;
    }
    .content10box2link2{
        padding: 0px 30px 30px;
    }
    .content10box3{
        width: 50%;
    }
    .content10box3link1{
        padding: 19px 28px;
    }
    .content10box3link2{
        padding: 0px 30px 30px;
    }
    .content10box4{
        width: 50%;
    }
    .content10box4link1{
        padding: 19px 28px;
    }
    .content10box4link2{
        padding: 0px 30px 30px;
    }
    .content11{
        width: 100%;
    }
    .content11boxc1{
        margin: 0px 30px 30px;
    }
    .content11boxc1 p{
        padding: 0px;
    }
    .content11boxc2{
        padding: 0px 30px 35px;
    }
    .btmdiv{
        height: auto;
        padding: 0px 0px 18px;
    }
    .btmcontent{
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        padding: 0px 30px;
    }
    .btmcontent1{
        width: 80px;
        flex: 0 0 auto;
    }
    .btmcontent2{
        width: 100%;
        height: auto;
        flex: 1 1 auto;
        padding: 0px;
    }
    .btmcontent3{
        width: 50%;
        top: 0px;
        -webkit-box-pack: end;
        justify-content: flex-end;
        position: absolute;
        right: 30px;
        flex: 1 1 auto;
        padding: 0px;
    }
}
@media screen and (max-width:960px){
    .content1{
        width: 100%;
        padding: 0px 30px;
    }   
    .content1left{
        width: 60%;
    }
    .contentbtmContent{
        width: 100%;
        max-width: 352px;
    }
    .content1right{
        width: 40%;
        padding: 0px 0px 0px 30px;
    }
    .container3{
        background-attachment: scroll;
    }
    .content3{
        width: 100%;
        padding: 0px 30px;
    }
    .content4{
        width: 100%;
        padding: 0px 30px;
    } 
    .content5{
        width: 100%;
        padding: 0px 30px;
    } 
    .content5_1{
        padding: 0px;   
    }
    .content8_1{
        width: 100%;
        padding: 0px 30px 40px;
    }
    .container9{
        background-attachment: scroll;
    }
    .content9{
        width: 100%;
        padding: 0px 30px;
    }
    .container10{
        margin: 0px;
    }
    .content11{
        width: 100%;
        padding: 0px 30px;
    }
    .content11boxc{
        flex-wrap: wrap;
        padding: 0px;
    }
    .content11boxc1{
        width: 100%;
        margin: 30px 0px;
    }
    .content11boxc2{
        width: 100%;
        padding: 0px 0px 35px;
    }
    .content11boxc2btm{
        margin: 30px 0px 0px;
    }
    .content11boxc2btm span{
        font-size: 12px;
    }
    .btmcontent{
        width: 100%;
        padding: 0px 30px;
    }
}
@media screen and (max-width:767px){
    .links{
        display: none;
    }
    .burgers{
        display: flex;;
    }
    .menu.active{    
        opacity: 1;
        pointer-events: all;
    }
    .content1toptitle{
        font-size: 48px;
        line-height: 60px;
    }
    .content1btm{
        margin: 60px 0px 30px;
    }
    .colorboxcontent1{
        width: 100%;
    }
    .colorboxcontent2{
        width: 100%;
    }
    .colorboxcontent3{
        width: 100%;
    }
    .colorboxcontent4{
        width: 100%;
    }
    .content4R{
        top: -300px;
        right: 100px;
    }
    .content8_2 img{
        max-width: 60vw;
    }
    .content9pic5{
        display: none;
    }
    .content10box1{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .content10box2{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .content10box3{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
    .content10box4{
        width: 100%;
        height: auto;
        min-height: 260px;
    }
} 
@media screen and (max-width:670px){
    .container1{
        margin: 0px 0px 30px;
    }
    .content1left{
        width: 100%;
    }
    .content1top{
        margin: 60px 0px 30px;
    }
    .content1toptitle{
        font-size: 48px;
        line-height: 58px;
    }
    .content1right{
        display: none;
    }
    .container3{
        min-height: 768px;
    }
    .content3toptext{
        font-size: 64px;
        line-height: 70px;
    }
    .content4R{
        display:none;
    }
    .content4L{
        left: 90vw;
    }
    .content4Mid{
        padding: 60px 30px;
    }
    .content5{
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .content6_1text h1{
        font-size: 64px;
        line-height: 70px;
    }
    .content7_2text{
        font-size: 168px;
    }
    .content7_3text{
        font-size: 168px;
    }
    .container8{
        min-height: 468px;
    }
    .content8_1titile h2{
        font-size: 64px;
        line-height: 70px;
    }
    .content8_1box{
        margin: 40px 0px 0px;
    }
    .content8_2{
        display: none;
    }
    .btmcontent{
        width: 100%;
        padding: 10px 30px 0px;
    }
    .btmcontent2 ul{
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .btmcontent2 ul li{
        line-height: 30px;
        margin: 0px 20px 0px 0px;
    }
}
@media screen and (max-width:500px){
.colorboxcontent1{
    height: auto;
}
.colorboxcontent2{
    height: auto;
}
.colorboxcontent3{
    height: auto;
}
.colorboxcontent4{
    height: auto;
}
.content3toptext{
    font-size: 48px;
    line-height: 60px;
}
.content7_2text{
    font-size: 128px;
}
.content7_3text{
    font-size: 128px;
}
.content8_1titile h2{
    font-size: 48px;
    line-height: 60px;
}
.container9{
    min-height: 568px;
}
.content9pic1{
    width: 100%;
    max-width: 50%;
    left: 30%;
    margin: 0px;
}
.content9pic1 img{
    max-width: 100%;
}
.content9pic2{
    display: none;
}
.content9pic3{
    display: none;
}
.content9pic4{
    display: none;
}
.btmcontent3{
    position: relative;
    width: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    right: auto;
    left: auto;
    top: auto;
    margin: 16px 0px 0px;
}
.btmcontent3 a{
    -webkit-box-pack: start;
    justify-content: flex-start;
}
}
@media screen and (max-width:400px){
    .container7{
        min-height: 500px;
    }
    .content7_2text{
        font-size: 96px;
    }
    .content7_3text{
        font-size: 96px;
        top: 160px;
    }
    .content9pic1{
        top: 0px;
        width: 100%;
        max-width: 100%;
        left: 0px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 0px 60px;
    }
    .content9pic1 img{
        width: 100%;
    }
    .content10box1link1 p{
        font-size: 24px;
        line-height: 34px;
    }
    .content10box2link1 p{
        font-size: 24px;
        line-height: 34px;
    }
    .content10box3link1 p{
        font-size: 24px;
        line-height: 34px;
    }
    .content10box4link1 p{
        font-size: 24px;
        line-height: 34px;
    }
}