body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
}

/* NAV部分 */
nav{
    width: 100%;
    height: 48px;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1536px;
    height: 48px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0px;
}
.logo{
    width: 190px;
    height: 48px;
    display: flex;
    align-items: center;
}
.logopic{
    width: 16px;
    height: 16px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg');
    background-size: cover;
    transition: 1S;
}
.logopic:hover{
    width: 16px;
    height: 16px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKIpyXqPok6Qz614jBaLBl020GVOOxwSt2haAZ-KKTv6nThMU');
    background-size: cover;
}
h1{
    display: flex;
    align-items: center;
}
.title{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.title:hover{
    color:rgb(27, 108, 184);
}
.links{
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 120px 0px 420px;
}
ul{
    display: flex;
    color:white;
    justify-content: space-between;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    transition: color 200ms linear 0ms;
}
#link1_1:hover{
    color:rgb(36, 118, 196)
}
#link2_1:hover{
    color:rgb(52, 192, 202)
}
#link3_1:hover{
    color:rgb(230, 122, 230)
}
#link4_1:hover{
    color:rgb(60, 207, 139)
}
.burgers{
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 48px;
    width: 48px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
span{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 200ms linear 0ms;
}
.topbar{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);
}
.midbar{
    top: 24px;
    left: 12px;
    opacity: 1;
}
.btmbar{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}
.menu{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 48px;
    left: 0px;
    height: calc(100vh - 48px);
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transform: translateY(0px);
    transition: all 300ms ease 300ms;
}
.menu ul{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.menu ul li a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: 25px 30px;
    position: relative;
}
/* NAV部分 */

/* Main部分 */
/* 第一部分 */
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container1{
    width: 100%;
    margin: 145px 0px 60px;
}
.content1{
    width: 1536px;
    margin: 145px 0px 60px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(0, 0, 0);
}
.content1left{
    width: 410px;
    flex: 0 0 auto;
}
.content1toptitle{
    font-size: 64px;
    line-height: 80px;
    color: rgb(79, 229, 255);
    font-weight: 600;
    margin: 0px 0px 0px -6px;
}
.content1btm{
    width: 100%;
    margin: 100px 0px 30px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px 0px 24px;
}
.contentright{
    text-align: center;
    position: relative;
    flex: 1 1 auto;
}
/* 第一部分 */
/* 第二部分 */

.container2{
    width: 100%;
    position: relative;
    background-color: chocolate;
}
.container2::before{
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgb(34, 128, 200);
}
.container2::after{
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgb(95, 207, 99);
}
.colorbox{
    display: flex;
    flex-wrap: wrap;
    width: 1536px;
    margin: 0px auto;
}
.colorboxcontent{
    width: 100%;
    display: flex;
    position: relative;
}
.colorboxcontent1{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent1link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(37, 142, 222);
}
.colorboxcontent1linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px
}
.colorboxcontent1linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h3{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent1linkmid p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent1linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent1linkbtmpic{
    margin: 0px 16px 0px 0px;
    width: 18px;
    height: 13px;
}
.colorboxcontent1linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
.colorboxcontent2{
    width: 25%;
    height: 384px;
    position: relative;
    z-index: 2;
}
.colorboxcontent2link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.colorboxcontent2linktop{
    min-height: 96px;
    width: 100%;
    text-align: left;
    flex: 1 1 auto;
    padding: 26px;
}
.colorboxcontent2linkmid{
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 26px;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 32px;
    letter-spacing: -0.03rem;
    line-height: 40px;
    font-weight: 600;
    margin: 0px 0px 26px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent2linkmid p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.colorboxcontent2linkbtm{
    height: 48px;
    width: 100%;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0px 26px 10px;
}
.colorboxcontent2linkbtmpic{
    margin: 0px 16px 0px 0px;
    width: 18px;
    height: 13px;
}
.colorboxcontent2linkbtmtext{
    font-size: 16px;
    font-family: "Segoe UI Mono", mono;
    letter-spacing: 0.01rem;
    color: rgb(0, 0, 0);
}
.colorboxcontent3{
    
}

/* Main部分 */
@media screen and (max-width:1680px) {
    .container{
        width:1336px;
    }
}
@media screen and (max-width:1460px) {
    .container{
        width:1136px;
    }
    .links{
        padding: 0px 60px 0px 120px;
    }
}
@media screen and (max-width:1280px) {
    .container{
        width:960px;
    }
}
@media screen and (max-width:1024px) {
    .logo{
        width:60px;
    }
    .links{
        padding: 0px 0px 0px 120px;
    }
    .container{
        width:100%;
        padding:0px 30px;
    }
}
@media screen and (max-width:767px){
    .links{
        display: none;
    }
    .burgers{
        display: flex;;
    }
    .menu.active{    
        opacity: 1;
        pointer-events: all;
    }
} 
