// @import "compass/css3";

/**
Search single page by CSS:not
Autohr: Muki Wu
Article: http://muki.tw/tech/full-text-search-by-css/
**/

/* basic layout start (you can skip it) */
body {
    background: #333;
    font-size: 1em;
    color: #f0f0f0;
    line-height: 1.1em;
}

a {
    text-decoration: none;

    &:hover {
        position: relative;
        top: 1px;
        left: 1px;
    }
}

section {
    width: 500px;
    margin: 0 auto;
    background: #555;
    padding: 1em;
    overflow: hidden;

    div {
        margin: 0 0 2em 0;
    }
}

header {
    background: #d9444a;
    text-align: center;
    color: #fff;
    font-size: .5em;
    padding: .7em 0;

    a {
        color: rgba(255, 255, 255, .6);
        @include text-shadow(1px 1px 1px #973735);
    }

    &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: #d9444a transparent transparent transparent;
        top: 53px;
        left: 50%;
    }
}

h2 {
    font-size: 1em;
    margin: 0 0 .5em 0;
    background: #444;
    display: inline-block;
    padding: .5em 1.2em;
    position: relative;
    left: -1em;
}

/* search layout start (you can skip it) */
.search-form {
    text-align: right;

    input {
        border: none;
        padding: .5em;
        background: rgba(255, 255, 255, .5);
        color: #555;
    }

    button {
        @extend input;
    }
}

.wrap {
    display: table;
    background: #888;
    margin-right: .5em;
    padding: .5em;
    width: 46%;
    float: left;

    &:nth-child(odd) {
        margin-right: 0;
    }

    img {
        display: inline-block;
    }

    .name {
        display: table-cell;
        width: 90%;
        vertical-align: middle;
        position: relative;
        left: 1em;
    }
}